/* ROBOTO FONT */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "./variables";

/* UTILITIES */
@import "./utils";

/* GLOBAL STYLINGS */
@import "./globals";

/* BASE STYLINGS */
@import "./headers";
@import "./inputs";
@import "./buttons";
@import "./navbars";

// JAVASCRIPT TOGGLED STATE
.nav-menu-clicked {
    position: relative;
    overflow: hidden;
    .app-header {
        nav {
            @include vstack;
            align-items: center;
            justify-content: start;
            position: fixed;
            overflow-y: auto;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            .nav-links {
                @include vstack;
            }

            .nav-menu {
                position: fixed;
                right: 2rem;
                top: 4.5rem;
                .menu-open {
                    display: none;
                }
                .menu-close {
                    display: block;
                }
            }
        }
    }
}
// BASE STATE
.app-header {
    background-color: $secondary;
    nav {
        @include hstack;
        justify-content: space-between;
        margin: 0 auto;
        padding: 5rem 1rem;
        background-color: inherit;

        a {
            color: $white;
        }

        .nav-links {
            @include hstack;
            display: none;
        }

        .menu-open {
            display: block;
        }
        .menu-close {
            display: none;
        }

        .btn.btn-primary {
            background-color: $primary;
            color: $secondary;
            &:hover {
                background-color: lighten($primary, 5);
                box-shadow: $boxShadowLg;
                transform: translateY(-7px);
            }
        }
    }
}

.app-content {
    section {
        & > header {
            max-width: 60rem;
            margin: 0 auto;
            text-align: center;

            p {
                max-width: 35rem;
                margin: 3rem auto 0 auto;
                line-height: 1.8;
                font-weight: bold;
            }
        }
    }

    .hero-section {
        padding: 3rem 1rem;
        background-color: $secondary;

        header {
            h1,
            p {
                color: $white;
            }
        }

        .hero-content {
            padding: 4rem 1.5rem;
            max-width: 60rem;
            margin: 0 auto;
            text-align: center;

            .form-group {
                @include vstack;
                margin: 0 auto;
                padding: 5rem 0;

                input,
                button {
                    height: 6rem;
                }

                .btn.btn-primary {
                    background-color: $primary;
                    color: $secondary;
                    &:hover {
                        background-color: lighten($primary, 5);
                        box-shadow: $boxShadowLg;
                        transform: translateY(-7px);
                    }
                }
            }
        }
    }

    .companies-section {
        background-color: $white;
        max-width: 77rem;
        margin: 0 auto;
        padding: 4rem 1rem;
        img {
            width: 100%;
        }
    }

    .message-section {
        background-color: $white;
        overflow: hidden;
        display: flex;
        max-width: 100rem;
        margin: 0 auto;
        border-radius: 0.7rem;

        .message-img-wrapper {
            background-color: red;
            display: none;
            flex: 1;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .message-content {
            @include vstack;
            align-items: center;
            flex: 1;
            background-color: lighten($primary, 6.5);
            padding: 3rem 4rem;

            h1,
            article {
                max-width: 35rem;
            }
            h1 {
                font-size: 3.2rem;
            }
            article {
                border-left: 3px solid $black;
                padding: 0.5rem 0 0.5rem 2rem;

                p {
                    font-size: 1.2rem;
                }

                footer {
                    margin-top: 1rem;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    font-style: italic;
                    font-weight: bold;
                    color: lighten($black, 25);
                }
            }
        }
    }

    .hiring-section {
        background-color: $white;
        background-image: url(./assets/images/overlays/shiny.svg);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-attachment: fixed;
        background-size: cover;
        padding: 4rem 1rem;

        header {
            padding: 2rem 0;
            h1 {
                color: $secondary;
            }
        }

        .hiring-cards {
            @include hstack;
            flex-wrap: wrap;
            gap: 1.5rem;
            max-width: 70rem;
            margin: 0 auto;
            padding: 2.5rem 0;

            & > .hiring-card {
                flex: 100%;
                background-color: $white;
                box-shadow: $boxShadowSm;
                border-radius: 0.4rem;
                padding: 3rem;
                position: relative;

                &:hover {
                    box-shadow: $boxShadowXl;
                    .card-img {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }

                .card-content {
                    @include vstack;
                    gap: 1rem;

                    .hiring-tags {
                        @include hstack;
                        gap: 1.5rem;

                        li {
                            span {
                                color: lighten($black, 60);
                            }
                        }
                    }
                }

                .card-img {
                    opacity: 0;
                    transform: translateX(5rem);
                    margin: 0 0 0 auto;
                    width: 2.3rem;

                    img {
                        width: 100%;
                    }
                }
            }
        }

        .hiring-actions {
            padding: 5rem 0;
            text-align: center;

            .btn.btn-secondary {
                display: inline-block;
                margin: 0 auto;
                background-color: $secondary;
                color: $white;
                font-weight: 500;
                &:hover {
                    background-color: lighten($secondary, 5);
                    box-shadow: $boxShadowLg;
                    transform: translateY(-1rem);
                }
            }
        }
    }
}

.app-footer {
    background-color: $secondary;
    padding: 10rem 1rem;
}

// ipads, tablets
@media screen and (min-width: 481px) {
    html {
        font-size: 70%;
    }

    .app-content {
        .hero-section {
            .hero-content {
                .form-group {
                    max-width: 40rem;
                }
            }
        }
    }
}

// Small screens, laptops
@media only screen and (min-width: 769px) {
    html {
        font-size: 75%;
    }

    .app-content {
        .hero-section {
            .hero-content {
                .form-group {
                    flex-direction: row;
                    max-width: 45rem;

                    input {
                        flex: 2;
                    }
                    button {
                        flex: 1;
                    }
                }
            }
        }

        .hiring-section {
            .hiring-cards {
                & > .hiring-card {
                    flex: 45%;
                }
            }
        }
    }
}

// desktops, large screens
@media only screen and (min-width: 1025px) {
    html {
        font-size: 85%;
    }

    .btn {
        padding: 1.1rem 1.8rem;
        font-size: 1.3rem;
    }

    .nav-menu-clicked {
        position: unset;
        overflow: auto;
    }
    .nav-menu-clicked .app-header,
    .app-header {
        nav {
            flex-direction: row;
            justify-content: space-between;
            position: unset;
            width: 100%;
            height: auto;

            a {
                font-size: 1.4rem;
                font-weight: bold;
            }

            .nav-links {
                display: flex;
                flex-direction: row;
            }

            .nav-logo img {
                width: 100%;
            }

            .nav-menu {
                display: none;
            }
        }
    }

    .app-content {
        section {
            & > header {
                h1 {
                    font-size: 4rem;
                }

                p {
                    font-size: 1.4rem;
                    max-width: 47rem;
                    margin: 3rem auto 0 auto;
                }
            }
        }

        .companies-section {
            padding: 7rem 2rem;
        }
        .message-section {
            .message-img-wrapper {
                display: block;
            }
        }
    }
}

// extra large screens
@media only screen and (min-width: 1201px) {
    html {
        font-size: 92%;
    }
}
